.fireteam-root {
    background-color: rgba(0, 0, 0, 0.5);
}

.fireteam-join-button {
    width: 100%;
    height: 15%;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    background-color: #50a1ff;
    font-weight: 600;
    color: whitesmoke;
    border-color: #50a1ff;
    margin-bottom: 5%;
}

.fireteam-info {
    margin-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.5);
}

.full-fireteam {
    background-color: rgb(199, 80, 80);
    border: none;
    color: black;
}

.joined-fireteam {
    background-color: whitesmoke;
    color: black;
    border: none;
}

.lead-fireteam {
    background-color: green;
    color: black;
    border: none;
}

.info-tile {
    width: 100%;
    height: 12%;
    margin: 3% 3%;
    color: white;
}

.power-req {
    background-color: lightskyblue;
    color: black;
    padding: 2% 2%;
    margin-left: 2%;
    font-size: 12px;
    font-weight: 250;
}

.right-col-fireteam-activity-type {
    margin: 2% 0%;
    width: 100%;
    font-size: 24px;
    color: #50a1ff;
    font-weight: 800;
    text-align: center;
}

.right-col-fireteam-description {
    width: 100%;
    height: 20%;
    font-weight: 220;
    text-align: center;
    margin-bottom: 5%;
}

.right-col-fireteam-member-list {
    width: 100%;
    height: 80%;
}

.fireteam-member {
    color: rgb(0, 132, 255);
    margin: 0% 3% 0% 3%;
    font-weight: 250;
}

.member-logo {
    color: whitesmoke;
}

.member-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

.member-list i {
    font-size: 18px;
    margin-left: 5%;
}

.member-list li {
    margin: 0;
    font-size: 16px;
    margin: 0% 0% 3% 0%;
}

.fa {
    margin-left: 5%;
    margin-right: 5%;
}

.fireteam-leader {
    font-weight: 700;
}

.fireteam-leader i {
    color: yellow;
    margin-top: 3%;
    margin-left: 5.5%;
    font-size: 20px;
}

.leader-power {
    background-color: lightskyblue;
    color: black;
    margin-left: 3%;
    padding: 2% 2%;
    font-size: 12px;
    font-weight: 250;
}

.member-power {
    background-color: black;
    color: whitesmoke;
    margin-left: 3%;
    padding: 2% 2%;
    font-size: 12px;
}

.console-logo {
    margin: 0% 0% 0% 30%;
    padding: 10% 15%;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.ps4 {
    background-color: rgb(5, 82, 133);
    display: inline;
}

.xbox {
    background-color: darkgreen;
    display: inline;
}

.steam {
    background-color: rgb(11, 133, 173);
    display: inline;
}


@media only screen and (max-width: 499px) {
    .fireteam-root {
        margin: auto;
        width: 80%;
        margin-bottom: 10%;
    }
    
    .fireteam-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border: 6px solid black;
    }
    
    .fireteam-info-left-column {
        flex: 1;
        color: white;
        margin-bottom: 5%;
    }
    
    .fireteam-info-right-column {
        flex: 1;
        color: white;
    }

    .fireteam-join-button {
        font-size: 12px;
        height: 30%;
        padding: 3% 0%;
    }

    .info-tile {
        width: 100%;
        height: 12%;
        margin: 0% 0% 3% 0%;
    }

    .right-col-fireteam-description {
        margin: auto;
        margin-bottom: 8%;
        width: 80%;
    }
}

@media only screen and (max-width: 321px) {
    .right-col-fireteam-activity-type {
        font-size: 20px;
    }
}



@media only screen and (min-width: 500px) and (max-width: 768px) {
    .fireteam-root {
        margin: auto;
        width: 85%;
        margin-bottom: 2%;
    }
    
    .fireteam-info {
        float: right;
        width: 100%;
        height: 100%;
        border: 6px solid black;
    }
    
    .fireteam-info-left-column {
        float: left;
        width: 40%;
        height: 100%;
        color: white;
    }
    
    .fireteam-info-right-column {
        float: right;
        width: 60%;
        height: 100%;
        color: white;
    }
    
    .info-container {
        width: 95%;
        height: 95%;
        margin: 2% 2%;
        justify-content: center;
        align-items: center;
    }

    .right-col-info-container {
        padding-left: 5%;
    }

    .fireteam-join-button {
        font-size: 11px;
        letter-spacing: 3px;
        margin: 3% 5%;
        padding: 5% 5%;
    }

    .console-logo {
        margin-left: 15%;
    }

    .right-col-fireteam-description {
        margin-bottom: 0;
        height: 15%;
        text-align: center;
    }

    .member-list {
        padding-left: 15%;
    }
}

/* iPad Pro and devices that do not have that large of a height ratio*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .fireteam-root {
        margin: auto;
        width: 80%;
        margin-bottom: 2%;
    }
    
    .fireteam-info {
        float: right;
        width: 100%;
        height: 100%;
        border: 6px solid black;
    }
    
    .fireteam-info-left-column {
        float: left;
        width: 45%;
        height: 100%;
        color: white;
    }
    
    .fireteam-info-right-column {
        float: right;
        width: 55%;
        height: 100%;
        color: white;
    }
    
    .info-container {
        width: 90%;
        height: 90%;
        margin: 5% 5%;
        justify-content: center;
        align-items: center;
    }

    .right-col-info-container {
        margin: 3% 3%;
    }

    .fireteam-join-button {
        font-size: 15px;
        letter-spacing: 2px;
        font-weight: 300;
    }

    .console-logo {
        margin-left: 22%;
    }

    .member-list {
        padding-left: 20%;
    }
}

/* iPad Pro*/
@media only screen and (min-width: 1024px) and (max-height: 1366px) {
    .fireteam-root {
        margin: auto;
        width: 70%;
        /* height: 25%; */
        margin-bottom: 2%;
    }

    .fireteam-join-button {
        padding: 5% 5%;
    }
}


@media only screen and (min-width: 1025px) and (max-width: 1224px) {
    .fireteam-root {
        margin: auto;
        width: 70%;
        margin-bottom: 2%;
    }
    
    .fireteam-info {
        float: right;
        width: 100%;
        height: 100%;
        border: 6px solid black;
    }
    
    .fireteam-info-left-column {
        float: left;
        width: 45%;
        height: 100%;
        color: white;
    }
    
    .fireteam-info-right-column {
        float: right;
        width: 55%;
        height: 100%;
        color: white;
    }
    
    .info-container {
        width: 90%;
        height: 90%;
        margin: 5% 5%;
        justify-content: center;
        align-items: center;
    }

    .right-col-info-container {
        margin: 3% 3%;
    }

    .member-list {
        padding-left: 10%;
    }
}



@media only screen and (min-width: 1225px) and (max-width: 1881px) {
    .fireteam-root {
        margin: auto;
        width: 60%;
        margin-bottom: 2%;
    }
    
    .fireteam-info {
        float: right;
        width: 100%;
        height: 100%;
        border: 6px solid black;
    }
    
    .fireteam-info-left-column {
        float: left;
        width: 40%;
        height: 100%;
        color: white;
    }
    
    .fireteam-info-right-column {
        float: right;
        width: 60%;
        height: 100%;
        color: white;
    }
    
    .info-container {
        width: 90%;
        height: 90%;
        margin: 5% 5%;
        justify-content: center;
        align-items: center;
    }

    .right-col-fireteam-activity-type {
        font-size: 30px;
    }

    .right-col-info-container {
        margin: 3% 2%;
    }

    .member-list {
        padding-left: 20%;
    }
}



@media only screen and (min-width: 1882px) {
    .fireteam-root {
        margin: auto;
        width: 50%;
        margin-bottom: 2%;
    }
    
    .fireteam-info {
        float: right;
        width: 100%;
        height: 100%;
        border: 6px solid black;
    }
    
    .fireteam-info-left-column {
        float: left;
        width: 40%;
        height: 100%;
        color: white;
    }
    
    .fireteam-info-right-column {
        float: right;
        width: 60%;
        height: 100%;
        color: white;
    }
    
    .info-container {
        width: 90%;
        height: 90%;
        margin: 5% 5%;
        justify-content: center;
        align-items: center;
    }

    .right-col-fireteam-activity-type {
        font-size: 30px;
    }

    .right-col-info-container {
        margin: 3% 2%;
    }

    .member-list {
        padding-left: 20%;
    }
}

@media only screen and (min-width: 1883px) and (max-width: 1999px) {
    .right-col-fireteam-description {
        margin-bottom: 5%;
    }
}

@media only screen and (min-width: 2000px) and (max-width: 2400px) {
    .right-col-fireteam-description {
        margin-bottom: 5%;
    }
}

@media only screen and (min-width: 2401px) {
    .right-col-fireteam-description {
        margin-bottom: 5%;
    }

    .fireteam-join-button {
        padding: 5% 5%;
    }

    .fireteam-info-right-column {
        margin-bottom: 3%;
    }
}



/* For the left-column FA symbols for screens larger than an iPad Pro*/
@media only screen and (min-width: 1025px) {
    .left-col-i {
        font-size: 20px;
    }

    .leader-power {
        font-size: 16px;
    }

    .fireteam-leader i {
        font-size: 22px;
    }

    .fireteam-platform i {
        font-size: 20px;
    }

    .fireteam-power-req i {
        font-size: 22px;
    }
}

/* For Portrait Smartphones */
@media screen and (orientation: landscape) and (min-width: 500px) and (max-width: 1023px) {
    .fireteam-root {
        width: 90%;
    }

    .fireteam-join-button {
        padding: 5% 5%;
    }
}

/* For Portrait Tablets */
@media only screen and (orientation: landscape) and (min-width: 1024px) and (max-width: 1400px){
    .fireteam-root {
        width: 80%;
    }
    .fireteam-join-button {
        padding: 5% 5%;
    }
}