#navbar-brand {
    font-size: 1.75rem;
    font-weight: 200;
}

#logout-btn {
    margin-left: 20px;
}

.no-alpha-navbar {
    background-color: black;
}

.alpha-navbar {
    background-color:rgba(0, 0, 0, 0.001);
}

.ml-auto {
    margin-left: 5%;
    margin-right: 5%;
}

@media only screen and (min-width: 1823px) {
    #navbar-brand {
        font-size: 2vw;
    }

    .navbar-collapse {
        margin-right: 0%;
    }

    .navbar {
        padding: 0;
        margin: 0;
    }
    
    .login-navlinks {
        font-size: 1.25vw;
        margin: 0% 10%;
    }  

    .container {
        padding-top: 2%;
        margin-left: 0;
        margin-right: 0;
    }
}
