.navbar-container {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin: 5% 10%;
}

#navbar-brand {
    font-size: 1.5rem;
    font-weight: 200;
}

#logout-btn {
    margin-left: 20px;
}

.no-alpha-navbar {
    background-color: black;
}

.alpha-navbar {
    background-color:rgba(0, 0, 0, 0.001);
}

.ml-auto {
    margin-left: 5%;
    margin-right: 5%;
}

@media only screen and (min-width: 1823px) {
  #navbar-brand {
      font-size: 3rem;
  }

  .navlinks {
      font-size: 2rem;
  }
}
