/* Hide scrollbars on Chrome, Safari, Opera*/
html::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbars on Internet Explorer / Microsoft Edge*/
html {
    -ms-overflow-style: none;
}
  
.mainpage-background-root {
    width: 100vw;
    height: 100vh;
}

.mainpage-jumbotron {
    width: 100%;
    height: 90%;
    background-image: url('../../images/mainpage-jumbotron.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mainpage-blurscreen {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.navbar {
    min-height: 100px;
}

.site-intro-root {
    width: 100%;
    height: 35%;
    padding: 5% 5% 5% 5%;
    background-color: #24292e;
    text-align: center;
    color: whitesmoke;
}

.site-description {
    font-size: 1.5vw;
    font-weight: 200;
    letter-spacing: 2px;
}

.create-fireteam-button {
    color: whitesmoke;
    margin: 1% 0% 3% 0%;
    width: 40%;
    height: 40%;
    background-color: #50a1ff;
    font-size: 1.25vw;
    font-weight: 250;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    outline: none;
    border: none;
}

.all-fireteams-contianer {
    height: 100%;
    overflow: auto;
    background-color: #24292e;
    border-top: 2rem solid rgba(0, 0, 0, 0.01);
}

.all-fireteams-contianer::-webkit-scrollbar {
    display: none;
}

.all-fireteams-contianer {
    -ms-overflow-style: none;
}

.animated-text-container {
    margin: auto;
    margin-top: 15%;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.01);
}

.animated-typewriter {
    color: whitesmoke;
    font-weight: 200;
    border-right: 2px solid whitesmoke;
    overflow: hidden;
    white-space: nowrap;
    animation: type 8s steps(45) forwards, blinkcursor .8s step-end infinite;
    animation-iteration-count: infinite;
}

.pagination-buttons-root {
    width: 100%;
    height: 5%;
    background-color: #24292e;
    border: none;
}

.pagination-buttons-container {
    margin: auto;
    width: 50%;
    min-height: 100%;
    display: flex;
    justify-content: center;
}

.pagination-button {
    outline: none; 
    border: none;
    width: 15%;
    background-color: #50a1ff;
    color: whitesmoke;
    margin: 0% 0.25%;
}

.page-number h6 {
    background-color: #24292e;
    text-align: center;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    padding-top: 1rem;
}

@keyframes blinkcursor {
    0% {
        border-color: transparent;
    }

    50% {
        border-color: whitesmoke;
    }
}

@keyframes type {
    0% {width: 0%;}
    30% {width: 100%;}
    80% {width: 100%;}
    90% {width: 0%;}
    100% {width: 0%;}
}


/* Animated text and site-intro for all smartphones up with a width max of 767px */
@media only screen and (max-width: 767px) {
    .animated-text-container {
        width: 70%;
    }

    .animated-typewriter {
        font-size: 6.7vw;
        padding-left: 4%;
        font-weight: 250;
    }

    .site-intro-root {
        height: 25%;
    }

    .site-description {
        font-size: 3vw;
        font-weight: 400;
        letter-spacing: 0px;
    }

    .create-fireteam-button {
        margin: 1% 0% 3% 0%;
        width: 60%;
        height: 30%;
        background-color: #50a1ff;
        font-size: 3vw;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 2px;
    }
}

/* Animated text and site-intro for all tablets up with a max-width of 1225px */
@media only screen and (min-width: 768px) and (max-width: 1225px) {
    .animated-text-container {
        width: 40%;
    }
    .animated-typewriter {
        font-size: 3.8vw;
        padding-left: 5%;
    }

    .site-intro-root {
        height: 20%;
    }

    .site-description {
        font-weight: 350;
        letter-spacing: 0px;
        font-size: 1.7vw;
    }

    .create-fireteam-button {
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 1.5vw;
    }
}

/* Animated text for all laptops/general monitors up with a min-width of 1225px */
@media only screen and (min-width: 1225px) and (max-width: 1823px) {
    .animated-text-container {
        width: 40%;
    }
    .animated-typewriter {
        font-size: 4vw;
        padding-left: 5%;
    }

    .site-intro-root {
        height: 40%;
        padding-bottom: 2%;
        font-size: 1.25vw;
    }

    .site-description {
        font-size: 1.15vw;
    }

    .create-fireteam-button {
        height: 30%;
        font-size: 1vw;
    }

}

/* Animated text for all wide screens up with a min-width of 1823px */
@media only screen and (min-width: 1824px) and (max-width: 2000px) {
    .animated-text-container {
        width: 30%;
    }
    .animated-typewriter {
        font-size: 2.95vw;
        padding-left: 5%;
    }

    .site-intro-root {
        height: 40%;
        font-size: 1.25vw;
    }

    .create-fireteam-button {
        height: 40%;
        font-size: 1.5vw;
    }
}

@media only screen and (min-width: 2001px) {
    .animated-text-container {
        width: 30%;
    }
    .animated-typewriter {
        font-size: 2.95vw;
        padding-left: 5%;
    }

    .site-intro-root {
        height: 55%;
        font-size: 1.25vw;
    }

    .create-fireteam-button {
        height: 5vw;
        font-size: 1.25vw;
    }
}

@media only screen and (min-width: 2200px) {
    .site-intro-root {
        height: 35%;
    }
}




/* Other general media queires*/
@media only screen and (max-width: 320px) {
    .mainpage-jumbotron {
        height: 70%;
    }

    .pagination-buttons-root {
        padding-top: 5%;
        height: 7%;
    }

    .pagination-buttons-container {
        width: 80%;
        margin: auto;
    }

    .pagination-button {
        width: 20%;
        font-size: 10px;
    }

    .page-number {
        width: 30%;
        font-size: 8px;
    }

}

@media only screen and (min-width: 321px) and (max-width: 400px) {
    .mainpage-jumbotron {
        height: 60%;;
    }

    .pagination-buttons-root {
        padding-top: 5%;
        height: 7%;
    }

    .pagination-buttons-container {
        width: 80%;
        margin: auto;
    }

    .pagination-button {
        width: 20%;
        font-size: 12px;
    }
}

@media only screen and (min-width: 401px) and (max-width: 479px) {
    .mainpage-jumbotron {
        height: 60%;
    }

    .pagination-buttons-container {
        width: 80%;
        margin: auto;
    }

    .pagination-button {
        width: 20%;
        font-size: 12px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .mainpage-jumbotron {
        height: 60%;
    }

    .pagination-buttons-container {
        width: 60%;
        margin: auto;
    }

    .pagination-button {
        width: 20%;
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .mainpage-jumbotron {
        height: 60%;
    }

    .pagination-buttons-root {
        height: 4%;
    }

    .pagination-buttons-container {
        width: 50%;
        margin: auto;
    }

    .pagination-button {
        width: 20%;
        font-size: 12px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1224px) {
    .mainpage-jumbotron {
        height: 60%;
    }
}

@media only screen and (min-width: 1225px) and (max-width: 1444px) {
    .mainpage-jumbotron {
        height: 100%;
    }

    .site-intro-root {
        height: 30%;
    }

    .create-fireteam-button {
        font-weight: 250;
    }

    .pagination-buttons-root {
        height: 5%;
    }

    .pagination-button {
        width: 15%;
    }
}

@media only screen and (min-width: 1445px) and (max-width: 1823px) {
    .mainpage-jumbotron {
        height: 100%;
    }

    .site-intro-root {
        height: 35%;
    }
}

@media only screen and (min-width: 1824px) {
    .mainpage-jumbotron {
        height: 100%;
    }

    .site-intro-root {
        height: 25%;
        padding: 2% 2% 0% 2%;
    }

    .site-description {
        font-size: 1vw;
    }

    .navbar {
        min-height: 200px;
    }
    
    .create-fireteam-button {
        width: 20%;
        height: 50px;
        font-size: 0.75vw;
        margin-bottom: 0;
    }

    .pagination-buttons-root {
        height: 3%;
    }

    .pagination-buttons-container {
        width: 25%;
        margin: auto;
    }

    .pagination-button {
        width: 20%;
        font-size: 12px;
    }
}

@media only screen and (min-width: 2100px) {
    .mainpage-jumbotron {
        height: 100%;
    }

    .site-intro-root {
        height: 19%;
    }

    .create-fireteam-button {
        width: 15%;
        font-size: 0.5vw;
    }

    .pagination-buttons-root {
        height: 2%;
    }

    .pagination-buttons-container {
        width: 20%;
        margin: auto;
    }

    .pagination-button {
        width: 20%;
        font-size: 12px;
    }
}



/* For Landscape Smartphones */
@media screen and (orientation: landscape) and (min-width: 500px) and (max-width: 768px) {
    .mainpage-jumbotron {
        height: 90%;
    }

    .site-intro-root {
        height: 60%;
    }

    .create-fireteam-button {
        font-weight: 250;
    }

    .pagination-buttons-root {
        height: 10%;
    }
}

@media screen and (orientation: landscape) and (min-width: 769px) and (max-width: 1023px) {
    .mainpage-jumbotron {
        height: 90%;
    }

    .site-intro-root {
        height: 40%;
    }

    .create-fireteam-button {
        font-weight: 250;
    }

    .site-intro-root {
        height: 60%;
    }

    .create-fireteam-button {
        font-weight: 250;
    }

    .pagination-buttons-root {
        height: 10%;
    }
}

/* For Landscape Tablets */
@media screen and (orientation: landscape) and (min-width: 1024px) and (max-width: 1400px) {
    .mainpage-jumbotron {
        height: 70%;
    }

    .site-intro-root {
        height: 35%;
    }

    .pagination-buttons-root {
        height: 7%;
    }
}