.register-error-alert {
    padding-top: 5%;
    color: white;
    text-align: center;
    width: 100%;
    min-height: 35px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.register-form-title {
    text-align: center;
    font-weight: 300;
    color: whitesmoke;
    margin-bottom: 10%;
    letter-spacing: 5px;
}

.register-form-root {
    padding-top: 100px;
}

.register-input {
    text-indent: 30px;
    color: whitesmoke;
    width: 100%;
    min-height: 50px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
    letter-spacing: 1px;
    border-radius: 10px;
    outline: none;
    margin-bottom: 10%;
}

.register-submit-button {
    width: 100%;
    min-height: 50px;
    margin-top: 10%;
    border-radius: 10px;
    background-color: rgba(128, 125, 201, 0.966);
    color: whitesmoke;
    font-size: 15px;
    border: none;
    font-size: 17px;
}

input::placeholder {
    color: whitesmoke;
    font-weight: 300;
}


@media only screen and (orientation: Landscape) and (max-width: 800px) {
    .register-form-title {
        font-size: 3vw;
    }

    .register-input {
        min-height: 30px;
        font-size: 4vw;
    }

    .register-submit-button {
        min-height: 40px;
        margin-top: 3%;
    }

    input::placeholder {
        text-align: start;
        font-size: 16px;
        line-height: 25px;
    }
}

@media only screen and (orientation: Landscape) and (min-width: 801px) and (max-width: 1000px) {
    .register-form-title {
        font-size: 2vw;
    }

    .register-input {
        min-height: 25px;
        font-size: 2vw;
    }

    .register-submit-button {
        min-height: 30px;
        margin-top: 3%;
    }

    input::placeholder {
        text-align: start;
        font-size: 16px;
        line-height: 25px;
    }
}