.login-error-alert {
    padding-top: 5%;
    color: white;
    text-align: center;
    width: 100%;
    min-height: 35px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.login-form-title {
    width: 100%;
    text-align: center;
    font-weight: 300;
    color: whitesmoke;
    margin-bottom: 10%;
    letter-spacing: 5px;
}

.login-form-root {
    padding-top: 125px;
}

.login-input {
    text-indent: 30px;
    color: whitesmoke;
    width: 100%;
    min-height: 50px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
    letter-spacing: 1px;
    border-radius: 25px;
    outline: none;
    margin-bottom: 10%;
}

.login-submit-button {
    width: 100%;
    min-height: 50px;
    margin-top: 10%;
    border-radius: 25px;
    background-color: rgba(17, 16, 43, 0.705);
    color: whitesmoke;
    font-size: 15px;
    border: none;
    font-size: 17px;
}

input::placeholder {
    color: whitesmoke;
    font-weight: 300;
}

