.error-alert {
    margin-top: 20px;
    text-align: center;
}

.login-form-root {
    padding-top: 150px;
}

.submit-button {
    width: 100%;
    color: black;
}

.login-form-row {
    padding-top: 15px;
}

.text-center {
    font-weight: 300;
    color: cadetblue;
}
